<header class="site-header">
  <div class="header-top">
    <div class="header-logo">
      <img src="logo.png" alt="Miller Logo" class="logo">
    </div>

    <nav class="header-nav">
      <a routerLink="/home" routerLinkActive="active">סטנדרים</a>
      <a routerLink="/cart" routerLinkActive="active">סל קניות 🛒</a>
      <a *ngIf="auth.isAdmin()" routerLink="/admin" routerLinkActive="active">ניהול</a>
    </nav>
  </div>

  <div class="header-intro">
    <p>
      אנו במילר מאמינים שסטנדר לא צריך להיות סתם סטנדר אלא מעץ איכותי ברמה הגבוהה ביותר, וביופי המקסימלי, לבית המדרש, 
      לבית הכנסת או לבית.<br>
      את הסטנדרים ניתן לרכוש כמתנה מכובדת לאדמורי”ם, ראשי ישיבות, רמי”ם, מנהלי תלמוד תורה, מלמדים, חתנים<br> ובעצם לכל אחד שרוצה
      להוקיר ולכבד את יקירו במתנה מכובדת ומוערכת.<br>
      ניתן לרכוש את הסטנדר ללימוד, למסירת שיעורים או הרצאות, ואף לחזן בית הכנסת.<br>
      ניתן לשנות גובה או להוסיף תיבה בתוספת תשלום ביצירת קשר,<br>
      לבתי כנסיות או מדרשות לכמויות יש ליצור קשר <br>
   
      <strong><h3>
      הסטנדרים שלנו עשויים מעץ סנדוויץ לבנה איכותי בציפוי פורמייקה.</h3>
           מגיע בהרכבה עצמית</strong>
    </p>
  </div>
</header>



<main class="page-content">
  <router-outlet></router-outlet>
</main>

<footer>
  <div>
    <h2>צור קשר</h2>
    <a href="tel:0527609686">052-7609686</a>
  </div>
</footer>